extends base.pug


block scripts 
  script(src="/static/index.js")

block style 
  style
    include ../static/style.css
  style
    include ../static/styleContact.css
block content 
  div.container
    H1 Contact Us
    form(action= '/contact', method= 'post', class= 'myForm')
      <input type="text"class= 'myInput' name="name" placeholder="Enter your name.." >
      <input type="phone" class= 'myInput' name="phone" placeholder="Enter your phoneNumber..">
      <input type="email" class= 'myInput' name="email" placeholder="Enter your email..">
      <input type="address" name="address" placeholder="Your Adress" class= 'myInput'>
      <input type="desc" name="desc" placeholder="Describe Yourself" class= 'myInput'>
      button(class= 'btn')
       | Submit